<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text="Indietro"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container d-flex flex-column justify-content-center" style="height: 100%;">
    
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 text-center">
        
        <!-- Inserito &nbsp; per forzare lo spazio -->
        <h1 class="display-5 mb-2 fw-bold text-dark"><span style="color: #15425C;">Nuovo</span>&nbsp;<span style="color: #8CC63E;">Utente</span></h1>
        <p class="text-muted mb-5">Inizia a catalogare le tue box in pochi passi</p>

        <div class="mb-3 text-start">
          <label class="form-label ms-1">Nome Profilo</label>
          <ion-input type="text" [(ngModel)]="nomeProfilo" fill="outline" placeholder="Es. MarcoRossi"></ion-input>
        </div>

        <div class="mb-3 text-start">
          <label class="form-label ms-1">Email</label>
          <ion-input type="email" [(ngModel)]="email" fill="outline" placeholder="nome@esempio.it"></ion-input>
        </div>

        <div class="mb-4 text-start">
          <label class="form-label ms-1">Password</label>
          <ion-input type="password" [(ngModel)]="password" fill="outline" placeholder="Scegli una password">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </div>

        <ion-button [disabled]="!nomeProfilo || !email || !email.includes('@') || email.lastIndexOf('.') <= email.indexOf('@') || !password" routerLink="/login" expand="block" class="mb-3">Registrati</ion-button>
       
      </div>
    </div>

  </div>
</ion-content>